# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/
myvenv/

# Secrets
.env

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Archives
*.tar
*.tar.gz
*.zip

# Raw data (datasetlar gitga kirmaydi)
Data/
raw_data/

# Models folder structure stays,
# but large models handled by Git LFS
Models/*.joblib
Models/*.pkl
Models/*.h5
