# ============================
# Python cache
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================
# Virtual environments
# ============================
venv/
env/
myvenv/

# ============================
# Secrets
# ============================
.env
.env.*

# ============================
# OS files
# ============================
.DS_Store
Thumbs.db

# ============================
# Jupyter
# ============================
.ipynb_checkpoints/

# ============================
# Archives
# ============================
*.tar
*.tar.gz
*.zip

# ============================
# Raw data (DO NOT TRACK)
# ============================
Data/
raw_data/

# ============================
# ML experiment outputs
# ============================
mlruns/
wandb/

# ============================
# Logs
# ============================
*.log
